.root {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0 54px 55px,
    rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px,
    rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;

  @apply z-10 cursor-ns-resize bg-neutral-800;
  @apply rounded-full border-[2px] border-solid border-neutral-300;
}

.thumb:hover {
  @apply scale-[115%] transition-all duration-100 ease-out;
}

.root::-webkit-slider-thumb {
  @apply thumb h-[22px] w-[22px];
}

.root::-moz-range-thumb {
  @apply thumb h-[17px] w-[17px];
}
