.root {
  @apply flex h-full items-center justify-center max-mobile:hidden;

  width: var(--trackDurationInfoWidth);
  min-width: var(--trackDurationInfoWidth);
  margin-left: var(--trackInfoBlockMarginX);
}
