@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Track */
  --trackInfoBlockMarginX: 4px;
  --trackControlWidth: 32px;
  --trackTitleInfoWidth: 40%;
  --trackDurationInfoWidth: 44px;

  --trackArtistsWidth: calc(
    100% - var(--trackTitleInfoWidth) - var(--trackControlWidth) -
      var(--trackDurationInfoWidth) - calc(var(--trackInfoBlockMarginX) * 3)
  );
}

@media screen and (max-width: 475px) {
  :root {
    --trackArtistsWidth: calc(
      100% - var(--trackTitleInfoWidth) - var(--trackControlWidth) -
        var(--trackInfoBlockMarginX)
    );
  }
}

input:focus,
button:focus {
  outline: none;
}
